<h4><b>ENROLL CONTEST(S)</b></h4>
<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Start_date</th>
      <th>End_date</th>
    </tr>
  </thead>
  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <td><%= image_tag contest.picture.small_thumb.url %></td>
        <td><%= contest.name %></td>
        <td><%= contest.start_date.to_formatted_s(:short) %></td>
        <td><%= contest.end_date.to_formatted_s(:short) %></td>
      </tr>
    <% end %>
  </tbody>
</table>