<div>
  <% @contests.each do |contest| %>
    <div class="col-sm-6 col-md-4 col-lg-3" id="card_<%= contest.id %>">
      <div class="card">
          <%= image_tag contest.picture.thumb.url, class: "card-img-top" %>
          <div class="card-block">
              <h4 class="card-title"><%= contest.name %></h4>
              <div class="card-text">
                  <%= ActionView::Base.full_sanitizer.sanitize(contest.description).truncate(100) %>
              </div>
          </div>
          <div class="card-footer">
              <span class="float-right">End date</span>
              <span><i class=""></i><%= contest.end_date.to_formatted_s(:short) %></span>
              <button class="btn btn-primary float-right btn-sm pull-right btn_join" contest_id = <%= contest.id %> user_data = <%= current_user %> >Join</button>
          </div>
      </div>
    </div>
  <% end %>
</div>