<div class="col-md-10 col-md-offset-1" style="box-shadow: 0px 3px 15px #888888; padding: 0; ">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><b><%= @contest.name %></b></h4>
    </div>
    <div class="panel-body">
      <%= render 'form' %>
    </div>
  </div>
</div>