<div class="row admin-page">
  <div class="col-sm-4">
    <div class="admin-sidebar">
      <table class="table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Contest</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @pending_user_contests.each do |pending_user_contest| %>
            <tr id="admin_row_<%= pending_user_contest.contest_id %>">
              <td><%= pending_user_contest.user.email %></td>
              <td><%= pending_user_contest.contest.name %></td>
              <td><button class="btn btn-primary btn_approve" contest_id = <%= pending_user_contest.contest_id %> user_id = <%= pending_user_contest.user_id %> >Approve</button></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
  </div>

  <div class="col-sm-8">
    <div class="admin-main">
      <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Start_date</th>
            <th>End_date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @contests.each do |contest| %>
            <tr>
              <td><%= image_tag contest.picture.small_thumb.url %></td>
              <td><%= link_to contest.name, admin_contest_path(contest.id) %></td>
              <td><%= contest.start_date.to_formatted_s(:short) %></td>
              <td><%= contest.end_date.to_formatted_s(:short) %></td>
              <td><%= link_to "Edit", edit_admin_contest_path(contest.id) %> -- <%= link_to "Delete", admin_contest_path(contest.id), method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>